langgraph
langchain-openai
python-dotenv
pydantic
streamlit
langgraph-checkpoint-sqlite
langchain-google-genai
langchain-tavily
tavily-python
langchain-community
faiss-cpu
pypdf
langchain-text-splitters
docx2txt
python-multipart
fastapi
uvicorn
jinja2
langchain-core
chromadb
sqlalchemy
langchain_chroma